.Container{
  background-image:url('D:\Users\ZADI9\Desktop\Proyecto Naves Espaciales\client\src\Images\14455862_5466844.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Title {
  display: flex;
  position: fixed;   
  text-justify: distribute;
  top: 100px; 
  font-size: 85px;
  color: #000000;
  text-shadow:rgb(24, 32, 53) 1px 0 10px;
  font-family: "Montserrat", Gadget, sans-serif;    
}

.Button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}

button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover svg {
  transform: translateX(5px) rotate(90deg);
}

button:hover span {
  transform: translateX(7px);
}